
exercicios/ExerciciosCursoEmVideo/ex021.mp3
exercicios/ExerciciosCursoEmVideo/.idea/ExerciciosCursoEmVideo.iml
exercicios/ExerciciosCursoEmVideo/.idea/workspace.xml
exercicios/ExerciciosCursoEmVideo/.idea/modules.xml
exercicios/ExerciciosCursoEmVideo/.idea/misc.xml
exercicios/ExerciciosCursoEmVideo/.idea/inspectionProfiles/profiles_settings.xml
exercicios/ExerciciosCursoEmVideo/.idea/inspectionProfiles/Project_Default.xml
